{% extends "layout.html.twig" %}
{% block contenu %}
    {% if unClient %}
        {% set idClient = unClient.getId() %}
    {% endif %}
    {% block recherche %}
        {% include 'recherche.html.twig' %}
    {% endblock %}
    {% if unClient %}
        {# On teste si on a selectionner un client pour l'afficher #}
        <h2> Informations du client numéro {{ unClient.getId() }} </h2>
        <p>{{ unClient.getPrenomCli() }} {{ unClient.getNomCli() }}</p>
        <p> {{ unClient.getAdresseRue1Cli() }}
            {% if unClient.getAdresseRue2Cli() %}
            <p> {{ unClient.getAdresseRue2Cli() }} </p>
        {% endif %}
        <p> {{  unClient.getCpCli() }} {{ unClient.getVilleCli() }}</p>
        <p>{{ unClient.getTelCli() }}</p>

    {% endif %}
{% endblock %}

{% block footer %}
    {{  parent() }}
    <div class="text-center">Fin de l'affichage</div>
{% endblock %}